.flex-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    width:30%;
}

.form-inputs{
    border-radius: 100em;
    box-shadow: none;
    border-bottom-color: lightgray;
    border-top-color: lightgray;
    border-right-color: lightgray;
    border-left-color: lightgray;
    border-top-style: none;
    border-left-style: none;
    /* background-color: aqua; */
    border: .06em solid gray;
    height: 3em;
}

#sign-up-btn{
    border-radius: 100em;
    border-bottom-color: blue;
    border-top-color: blue;
    border-right-color: blue;
    border-left-color: blue;
    background-color: blue;
    color: white;
    width: 40%;
    height: 2.5em;
}

#small{4
    font-weight: bold;
}

#flex-container-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}